{% extends 'base.html' %}

{% block title %}
  User {{ user.id }}
{% endblock %}

{% block body %}
  <h1>{{ user.username }}</h1>
  <div>
    {% for article in user.author.articles %}
        <ul>
            <li>
              <a href="{{ url_for('articles.details', article_id=article.id) }}" style="text-decoration: none;">
                {{ article.title }}
              </a>
            </li>
        </ul>
    {% endfor %}
  </div>
  <div>
    <a href="{{ url_for('users.list') }}" style="text-decoration: none;">Back to users list</a>
  </div>
{% endblock %}
